.spacer{
	height: 50px;
}

#poketdex{
	/*margin-top:30px;*/
}
#poketdex .pokemonList{
	display: block;
	position: relative;
	text-align: center;

}
#poketdex .pokemonList .pokemon{
	display: inline-block;
	text-align: center;
	width:150px;
	margin:0 10px 10px;
}
#poketdex .pokemonList .pokemon .pokemonId{
	font-weight:italic;
	width:100%
}
#poketdex .pokemonList .pokemon .pokemonName{
	font-weight:bold;
	margin-bottom:5px;
	width:100%;
}
#poketdex .pokemonList .pokemon .pokemonImage{
	width:150px;
}
#poketdex .pokemonList .pokemon .pokemonImage img{
	width:150px;
	height:auto;
}

.typeSelect{
	width:100px;
}

#andor{

}
#andor span{
	cursor:pointer;
}

#and:hover, #or:hover{
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: yellow;
}

#filter:hover{
	color: #fff;
	background-color: #78C850;
}

#reset:hover{
	color: #fff;
	background-color: #C03028;
}

@media screen and (max-height: 450px), screen and (max-width: 800px){
	
	#poketdex .pokemonList .pokemon{
		width:100px;
	}

	#poketdex .pokemonList .pokemon .pokemonImage{
		width:100px;
	}
	#poketdex .pokemonList .pokemon .pokemonImage img{
		width:100px;
		height:auto;
	}

}

