/* Type Styles*/
.typeContainer{
	/*display: block;*/
	display:flex;
	flex-direction:column-reverse;
}

.type{
	text-align: center;
	margin-bottom:5px;
	color:#ffffff;
	width: 100%;
	float: left;
}
.normal{
	background:#A8A878 !important;
}

.fire{
	background:#F08030 !important;
}

.fighting{
	background:#C03028 !important;
}

.water{
	background:#6890F0 !important;
}

.flying{
	background:#A890F0 !important;
}

.grass{
	background:#78C850 !important;
}

.poison{
	background:#A040A0 !important;
}

.electric{
	background:#F8D030 !important;
}

.ground{
	background:#E0C068 !important;
}

.psychic{
	background:#F85888 !important;
}

.rock{
	background:#B8A038 !important;
}

.ice{
	background:#98D8D8 !important;
}

.bug{
	background:#A8B820 !important;
}

.dragon{
	background:#7038F8 !important;
}

.ghost{
	background:#705898 !important;
}

.dark{
	background:#705848 !important;
}

.steel{
	background:#B8B8D0 !important;
}

.fairy{
	background:#EE99AC !important;
}

/**********Egg Group Styles**************/

.eggGroup {
	text-align: center;
	/*margin-bottom:5px;*/
	color:#ffffff;
	width: 100%;
	position: relative;
	height: 30px !important;
	line-height: 24px;
	border-top:none;
	font-size:16px;
}

.eggGroup:nth-child(1) {
	margin-top: 5px;
}

.eggspand{
	margin-bottom: 5px;
	text-align: center;
}

/*.eggGroup:nth-child(2) {
	margin-left: -10vw;
}*/

.eggmonster{
	background: #D25064;
}

.egghumanshape{
	background: #D29682;
}

.eggwater1{
	background: #97B5FD;
}

.eggwater2{
	background: #729AFA;
}

.eggwater3{
	background: #5876BE;
}

.eggbug{
	background: #AAC22A;
}

.eggmineral{
	background: #7A6252;
}

.eggflying{
	background: #B29AFA;
}

.eggindeterminate{
	background: #8A8A8A;
}

.eggground{
	background: #E0C068;
}

.eggfairy{
	background: #FFC8F0;
}

.eggditto{
	background: #A664BF;
}

.eggplant{
	background: #82D25A;
}

.eggdragon{
	background: #7A42FF;
}

.eggno-eggs{
	background: #333333;
}

/*Move Category Styling*/
.physical{
	background: #C92112;
}
.special{
	background: #4F5870;
}
.status{
	background: #8C888C;
}
.tough{
	background: #F8D030;
}
.cute{
	background: #F85888;
}
.clever{
	background: #78C850;
}
.beautiful{
	background: #6890F0;
}
.cool{
	background: #F08030;
}