body{
	/*padding: 50px;*/
	font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
	margin: 0px;
}

a{
	color: #00B7FF;
}

img{
	border: none;
}
button, #navButton, .icon{
	cursor: pointer;
}

.row{
	display: block;
	width: 100%;
}
.row:after{
	clear:both;
	content:' ';
	width:1px;
	height:1px;
}
.clearfloat{
	clear:both;
}
.section {
	width: 100%;
}

.hidden, .toggle_hide {
	display: none !important;
}
button:active,
button:focus,
button.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
/************  Nav Styles *************/
header{

}
nav{

}
#topBar {
	/*border: 1px solid green;*/
	width: 100%;
	min-height:5%;
	/*height:6%;*/
	background-color: white;
	left: auto;
	right: auto;
	position: fixed;
	display: inline-block;
	text-align:center;
	text-transform: capitalize;
	z-index: 999;
	top:0;
}

#pokedexList {
	height: 1px !important;
	font-size: 16px !important;
}

#searchContainer {
	/*	border: 1px solid red;*/
	margin-top:5%;
}

#pokemonSearchBox {
	position: fixed;
	width: 100%;
	height:24px;
	font-size: 16px;
	border: 0px;
	/*left: 10%;
	right: 10%;
	width: 80%;
	height: 8%;
	z-index: 1000;*/
}

#dexId{
	/*border: 1px solid blue;*/
	font-weight: bold;
	font-size: 12px;
	/*font-size: 3vw;*/
}
#dexName{
	/*border: 1px solid red;*/
	font-weight: bold;
	font-size: 24px;
	/*font-size: 6vw;*/
}
/*Menu to open SideNav*/
#navButton {
	position: absolute;
	left: 1%;
	font-size: 24px;
}

/*SideNav Stuff*/
/* The side navigation menu */
.sidenav {
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1000; /* Stay on top */
	top: 0;
	left: 0;
	background-color: #5e5b5c; /* White*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
	text-align: center;
}

/* The navigation menu links */
.sidenav a {
	height:15%;
	padding: 8px 8px 8px 10%;
	text-decoration: none;
	font-size: 100%;
	line-height: 130%;
	color: #818181;
	display: block;
	transition: 0.3s
}

.sidenav img {
	height: 35%;
}

/* When you mouse over the navigation links, change their color */
/*.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
    }*/

    /* Position and style the close button (top right corner) */
    .closebtn {
    	position: absolute;
    	top: 0;
    	right: 8px;
    	font-size: 20px !important;
    	margin-left: 50px;
    }

    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
    #main {
    	transition: margin-left .5s;
    	padding: 20px;
    }

    /************ End Nav Styles *************/

    img.icon {
    	height: 20px;
    	/*height: 5vw;*/
    }
    .iconContainer {
    	position:absolute;
    	right: 1%;
    	top:2%;
    	z-index: 1;
    	/*border: 1px solid red;*/
    	/*vertical-align: top;*/

    }

    .sectionIcon {
    	/*position: absolute;*/
    	/*bottom: 0%;*/
    	height: 16px !important;
    	/*height: 4vw !important;*/
    }

    #pokedexList {
    	border:0px;
    	-webkit-appearance: none;
    	background-color: #ffffff;
    	font-weight: bold;
    	font-size: 24px;
    	/*font-size: 6vw;*/
    }

    #pokedexList::-ms-expand {
    	display: none;
    }

    .container{
    	/*border: 1px solid green;*/
    	width:100%;
    	padding-top: 5%;
    	text-transform: capitalize;
    }
    .pokemon{
    	/*border: 1px solid yellow;*/
    	width:100%;
    	color:#000000;

    }
    .pokemon .image{
    	text-align: center;
    }
    .pokemonNav {
    	width: 13% !important;
    }

    .pokemon .image img {
    	width: 70%;
    }

    /*Dexter Styling*/
    .buttonDexter{
    	position: absolute;
    	right: 1%;
    	padding: 2px;
    	background-color: #ffffff;
    	border: none;
    	color: #000000;
    	font-family: "Roboto Slab", serif;
    	font-size: 24px;
    	text-align: center;
    	height: 100%;
    }
    .buttonDexter.pause{
    	font-size: 24px;
    }

    .shareIcon{
    	position: absolute;
    	right: 1%;
    	padding: 2px;
    }

    .reverseOrder {
    	display:flex;
    	flex-direction:column-reverse;
    }

    .hiddentrue {
    	color:#818181;
    }

    /*Used for section titles/headers */
    section{
    	cursor: pointer;
    }
    .tab {
    	height:40px !important;
    	line-height: 40px;
    	/*font-size: 16px;*/
    	vertical-align: middle;
    	border-top: 1px solid #818181;
    	position: relative;
    	font-size: 20px;
    	text-align: left;
    }

    section:nth-of-type(1) .tab{
    	border-top: 0px !important;
    }
    /*Used for section display controllers*/
    .buttonController {
    	height:24px;
	/*position: absolute;
	right: 1%;*/
	padding: 0px;
	background-color: #ffffff;
	border: none;
	color: #000000;
	font-family: "Roboto Slab", serif;
	font-size: 24px;
	font-weight: bold;
	/*text-align: center;*/
}
.expanded{

}

.rotate{
	/*margin-top: 100px;
	margin-left: 150px;*/
	transform: rotate(-90deg);
	height: 19px;
	/*width:70px;*/
	/*transform-origin: right, top;*/
}

.float{
	float: left;
}

#evolutionChainContent, #megaEvolutionContainer{
	text-align: center;
	margin-bottom:20px;
}
#evolutionChainContent img{
	height:200px;
	width:auto;
}
#evolutionChainContent .column{
	float:left;
	padding: 0px 2% 0px 2%;
}
/*#evolutionChainContent .column:nth-of-type(even){
	background-color: #CCCCCC;
}*/

#evolutionChainContent .column img, #megaEvolutionContainer img{
	width:120px;
	height:120px;
}
.evolutionItem img{
	height: 16px !important;
	width: auto !important;
}
.damageChartCell{
	width: 18px;
	max-width: 18px !important;
}

.damageLabelCell{
	height: 70px;
	/*text-align: left;*/
	vertical-align: bottom;
	padding-bottom: 5px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.damageValueCell{
	height:20px;
	text-align: center;
}

.damageRate1, .damageRate2, .damageRate4{
	background-color: #4e9a06 !important;
}

.damageRate½, .damageRate¼ {
	background-color: #a40000 !important;
}

.damageRate0 {
	background-color: #2e3436 !important;
	color: #ffffff;
}

.damageRateModified{
	box-sizing: border-box;
	border: 2px solid green;
}

#damageControls{
	height: 80px;
}

#abilityHiddenModifierName{
	text-align: left;
}


#movesContent{

}

#movesContent .row{
	/*padding:0 0 0;*/
}
#movesContent .column{
	float:left;
	width:15%;
	font-size:13px;
	text-align: center;
	padding:0 0% 2%;
}

.pp-number:nth-of-type(odd), .power-number:nth-of-type(odd), .accuracy-number:nth-of-type(odd), .learntLevel:nth-of-type(odd) {
	background-color: #ccc;
}

.column#name{
	width:30%;
	/*font-size: 15px;*/
}

.column#category, .column#contest, .column#learntLevel, .column#type{
	width:18%;
}
.column#pp, .column#power, .column#accuracy{
	width:10%;
}

#movesTypeList, #movesCategoryList, #movesContestList, #movesMethodList, #opower {
	font-size: 16px;
}

/*Section: Gender*/
.baseChart {
	width: 100%;
	height: 24px;
	line-height: 24px;
	background-color: #CCC;
	margin-bottom:5px;
	margin-top:5px;
	color: #ffffff;
}

#genderChartFemale {
	background-color: #F85888;
	color:#ffffff;
	height: 24px;
	border: 0px;
	float: left;
	text-align: center;
	line-height: 24px;

}

#genderChartMale {
	background-color: #6890F0;
	color:#ffffff;
	border: 0px;
	height: 24px;
	float: left;
	text-align: center;
	line-height: 24px;
}

#hatchingContainer{
	height: 40px;
	line-height: 40px;
}

#totalSteps{
	text-align: center;
	float: left;
	/*background-color: #ff0000;*/
}

.stepsFlameBodyOPower {
	background-color: #7038F8;
}

.stepsFlameBody{
	background-color: #F08030;
}

.stepsOPower{
	background-color: #6890F0;
}

/*Section: Stats*/
#canvas {
	width:100% !important;
	height: auto !important;
}

#baseStatsContent .column{
	float:left;
	/*width:30%;*/
	line-height: 30px;
	/*font-size:13px;*/
	/*padding:0 0% 2%;*/
}
.statName {
	width: 110px;
	/*box-sizing: border-box;
	border: 1px solid red;*/
	text-align: right;
	padding: 3px 5px 3px;
}

.statChartContainer {
	width: 210px;
	/*background-color: #cccccc;*/
	padding: 3px 0px 3px;
}

.statChart {
	color: #ffffff;
	height: 30px;
	padding-left: 3px;
}

.statChart.statHP {
	background-color: #F5AC78;
}

.statChart.statAttack{
	background-color: #FF5959;
}

.statChart.statDefense{
	background-color: #FAE078;
}

.statChart.statSpAttack{
	background-color: #9DB7F5;
}

.statChart.statSpDefense{
	background-color: #A7DB8D;
}

.statChart.statSpeed{
	background-color: #FA92B2;
}

/*Section: Location*/
#locationContent{
	text-align:center;
}
#locationContent img{
	height:200px;
	width:auto;
}
#locationContent .row{
	padding:2% 0 2%;	
	width: 100%;	
}

#locationContent .column{
	float:left;
	/*width:20%;*/
	/*border: 1px solid red;*/
	/*box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;*/
}

.locationName{
	width: 30%;
}

.locationChance, .locationLevel{
	width: 15%;
}

.locationMethod, .locationVersion {
	width: 20%;
}

#locationContent .row:nth-of-type(even){
	background-color: #ccc;
}
/*Game Version Styling*/
.gameRow{
	line-height: 30px;
	margin-bottom: 20px;
	padding-bottom: 24px;
}
#versionx, #versionsapphire{
	border: 4px solid #025DA6;
	/*margin-bottom: 4px;*/
}

#versionx.selected,#versionsapphire.selected{
	color: #ffffff;
	background-color: #025DA6;
}

#versiony, #versionruby{
	border: 4px solid #AB2813;
	/*margin-bottom: 24px;*/
}

#versiony.selected,#versionruby.selected{
	color: #ffffff;
	background-color: #AB2813;
}

/*Layout Containers*/
.half{
	float: left;
	width: 50%;
	/*border: 1px solid black;*/
	line-height: 30px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.twothirds{
	float: left;
	width: 66%;
	line-height: 30px;
	text-align: center;
}

.onethird{
	float: left;
	width: 33%;
	line-height: 30px;
}

.massive {
	height:700px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}

/*select inputs*/
select {
	-webkit-appearance: button;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	-webkit-padding-end: 20px;
	-webkit-padding-start: 2px;
	-webkit-user-select: none;
	background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
	background-position: 97% center;
	background-repeat: no-repeat;
	border: 1px solid #AAA;
	color: #555;
	font-size: 16px;
	/*margin: 20px;*/
	overflow: hidden;
	padding: 2px 10px;
	height: 30px;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
}

#abilitySelect{
	width: 90% !important;
}

.movesSelect {
	width: 30%;
}

.breedingSelect, .statsSelect {
	width: 120px;
}

#gameGenerationSelect{
	width: 100%;
	margin-bottom: 10px;
	margin-top: 5px;
}

.filterRow{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.sliderLabel {
	line-height: 30px;
}

/*Toggle CSS*/
/* The switch - the box around the slider */
.switch {
	position: relative;
	/*display: inline-block;*/
	float: left;
	width: 60px;
	height: 30px;
	/*margin-top: -25px;*/
	margin-right: 5px;
	/*margin-left: 125px;*/
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 27px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
	line-height: 26px;
	font-size: 16px;
	text-align: center;
}

input:checked + .slider {
	background-color: #2196F3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(28px);
	-ms-transform: translateX(28px);
	transform: translateX(28px);
}

/*For Battle/Contest Toggle*/
#movesToggleSwitch .slider:before{
	content: "B";
}

#movesToggleSwitch input:checked + .slider:before{
	content: "C" !important;
}

/** {
	border: 1px solid red;
}*/