body{
	/*padding: 50px;*/
	font: 4vw "Lucida Grande", Helvetica, Arial, sans-serif;
	margin: 0px;
}

a{
	color: #00B7FF;
}

img{
	border: none;
}
button, #navButton, .icon{
	cursor: pointer;
}

.row{
	display: block;
}
.row:after{
	clear:both;
	content:' ';
	width:1px;
	height:1px;
}

.section {
	width: 100%;
}

.hidden {
	display: none !important;
}

/************  Nav Styles *************/
header{

}
nav{

}
#topBar {
	/*border: 1px solid green;*/
	width: 100%;
	min-height:5%;
	background-color: white;
	left: auto;
	right: auto;
	position: fixed;
	display: inline-block;
	text-align:center;
	text-transform: capitalize;
	z-index: 999;
}

#pokedexList {
	height: 1px !important;
	font-size: 4vw !important;
}

#searchContainer {
/*	border: 1px solid red;*/
	margin-top:5%;
}

#pokemonSearchBox {
	/*position: fixed;*/
	width: 100%;
	height:6vw;
	font-size: 4vw;
	border: 0px;
	/*left: 10%;
	right: 10%;
	width: 80%;
	height: 8%;
	z-index: 1000;*/
}

#dexId{
	/*border: 1px solid blue;*/
	font-weight: bold;
	font-size: 3vw;
}
#dexName{
	/*border: 1px solid red;*/
	font-weight: bold;
	font-size: 6vw;
}
/*Menu to open SideNav*/
#navButton {
	position: absolute;
	left: 1%;
	font-size: 6vw;
}

/*SideNav Stuff*/
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #ffffff; /* White*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 10%;
  text-decoration: none;
  font-size: 4vw;
  color: #818181;
  display: block;
  transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
/*.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}*/

/* Position and style the close button (top right corner) */
.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 5vw !important;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/************ End Nav Styles *************/

img.icon {
	height: 5vw;
}
.iconContainer {
	position:absolute;
	right: 1%;
	top:2%;
	z-index: 1;
	/*border: 1px solid red;*/
	/*vertical-align: top;*/

}

.sectionIcon {
	/*position: absolute;*/
	/*bottom: 0%;*/
	height: 4vw !important;
}

#pokedexList {
	border:0px;
	-webkit-appearance: none;
	background-color: #ffffff;
	font-weight: bold;
	font-size: 6vw;
}

#pokedexList::-ms-expand {
    display: none;
}

.container{
	/*border: 1px solid green;*/
	width:100%;
	/*padding-top: 5%;*/
	text-transform: capitalize;
}
.pokemon{
	/*border: 1px solid yellow;*/
	width:100%;
	color:#000000;
	
}
.pokemon .image{
	text-align: center;
}
.pokemonNav {
	width: 13% !important;
}

.pokemon .image img {
	width: 70%;
}

/*Dexter Styling*/
.buttonDexter{
	position: absolute;
	right: 1%;
	padding: 2px;
	background-color: #ffffff;
	border: none;
  color: #000000;
  font-family: "Roboto Slab", serif;
  font-size: 6vw;
  text-align: center;
  height: 100%;
}

.reverseOrder {
	display:flex;
	flex-direction:column-reverse;
}

.hiddentrue {
	color:#818181;
}

/*Used for section titles/headers */
section{
	cursor: pointer;
}
.tab {
	height:8vw;
	line-height: 8vw;
	font-size: 4vw;
	vertical-align: middle;
	border-top: 1px solid #818181;
	position: relative;
}

#abilitiesTitle{
	border-top: 0px !important;
}
/*Used for section display controllers*/
.buttonController {
	height:6vw;
	/*position: absolute;
	right: 1%;*/
	padding: 0px;
	background-color: #ffffff;
	border: none;
  color: #000000;
  font-family: "Roboto Slab", serif;
  font-size: 6vw;
  font-weight: bold;
  /*text-align: center;*/
}
.expanded{
	
}

.content{
	background: #ebebeb;
}

#genderChart {
	width: 100%;
	height: 6vw;
	line-height: 6vw;
}

#genderChartFemale {
	background-color: #F85888;
	color:#ffffff;
	height: 6vw;
	border: 0px;
	float: left;
	text-align: center;
	line-height: 6vw;

}

#genderChartMale {
	background-color: #6890F0;
	color:#ffffff;
	border: 0px;
	height: 6vw;
	float: left;
	text-align: center;
	line-height: 6vw;
}

#groupContainer{
	width:100%;
	height:50vw;
}

#eggInfo img:nth-child(1){
	height:8vw;
}

#canvas {
	width:100% !important;
	height: auto !important;
}

#massive {
	height:700px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
