/* Type Styles*/
.typeContainer{
	/*display: block;*/
	display:flex;
	flex-direction:column-reverse;
}

.type{
	text-align: center;
	margin-bottom:5px;
	color:#ffffff;
	width: 100%;
	float: left;
}
.normal{
	background:#A8A878;
}

.fire{
	background:#F08030;
}

.fighting{
	background:#C03028;
}

.water{
	background:#6890F0;
}

.flying{
	background:#A890F0;
}

.grass{
	background:#78C850;
}

.poison{
	background:#A040A0;
}

.electric{
	background:#F8D030;
}

.ground{
	background:#E0C068;
}

.psychic{
	background:#F85888;
}

.rock{
	background:#B8A038;
}

.ice{
	background:#98D8D8;
}

.bug{
	background:#A8B820;
}

.dragon{
	background:#7038F8;
}

.ghost{
	background:#705898;
}

.dark{
	background:#705848;
}

.steel{
	background:#B8B8D0;
}

.fairy{
	background:#EE99AC;
}

/**********Egg Group Styles**************/

.eggGroup {
	border-radius: 50vw;
	width: 50vw;
	height: 50vw;
	background-color: #ff0000;
	opacity: .6;
	display: table;
	float: left;
	line-height: 50vw;
	text-align: center;
	color:#ffffff;
}

.eggGroup:nth-child(1) {
	margin-left: 5vw;
}

.eggGroup:nth-child(2) {
	margin-left: -10vw;
}

.eggmonster{
	background: #D25064;
}

.egghumanlike{
	background: #D29682;
}

.eggwater1{
	background: #97B5FD;
}

.eggwater2{
	background: #729AFA;
}

.eggwater3{
	background: #5876BE;
}

.eggbug{
	background: #AAC22A;
}

.eggmineral{
	background: #7A6252;
}

.eggflying{
	background: #B29AFA;
}

.eggamorphous{
	background: #8A8A8A;
}

.eggfield{
	background: #E0C068;
}

.eggfairy{
	background: #FFC8F0;
}

.eggditto{
	background: #A664BF;
}

.egggrass{
	background: #82D25A;
}

.eggdragon{
	background: #7A42FF;
}

.eggno-eggs{
	background: #333333;
}