/* Type Styles*/
.type{
	text-align: center;
	margin-bottom:5px;
	color:#ffffff;
}
.type:last-child{
	margin-bottom:0;
}
.normal {
background:#A8A878;
}

.fire {
background:#F08030;
}

.fighting {
background:#C03028;
}

.water {
background:#6890F0;
}

.flying {
background:#A890F0;
}

.grass {
background:#78C850;
}

.poison {
background:#A040A0;
}

.electric {
background:#F8D030;
}

.ground {
background:#E0C068;
}

.psychic {
background:#F85888;
}

.rock {
background:#B8A038;
}

.ice {
background:#98D8D8;
}

.bug {
background:#A8B820;
}

.dragon {
background:#7038F8;
}

.ghost {
background:#705898;
}

.dark {
background:#705848;
}

.steel {
background:#B8B8D0;
}

.fairy {
background:#EE99AC;
}